<h1 id="aosp--make-a-change">AOSP--Make a Change</h1>
<pre><code class="language-bash">
1. cd frameworks/native

2. upgautam@amd:/opt/aosp/frameworks/native$ repo start make_a_change .
Starting make_a_change: 100% (1/1), done in 0.102s
upgautam@amd:/opt/aosp/frameworks/native$ repo branch
*  make_a_change             | in frameworks/native


3. Edit: services/surfaceflinger/SurfaceFlinger.cpp
4. Find: void SurfaceFlinger::updateColorMatrixLocked() { .... }
5. Add &quot;mClientColorMatrix = mat4(vec4{1.0f, 0.0f, 0.0f, 0.0f}, vec4{0.0f, -1.0f, 0.0f, 0.0f},
                          vec4{0.0f, 0.0f, -1.0f, 0.0f}, vec4{0.0f, 1.0f, 1.0f, 1.0f});&quot; at the start of the body. 
6. Build the code: m # you can run from this directory /opt/aosp/frameworks/native/services/surfaceflinger
</code></pre>
<p>If cuttlefish emulator is already running then update the build on the device</p>
<pre><code class="language-bash">adb root
adb remount -R
adb root
adb sync
adb reboot
</code></pre>
<p>If not, simply starting an emulator should show your updated screen of the emulator. 
Reference: <a href="https://source.android.com/docs/setup/start">https://source.android.com/docs/setup/start</a></p>
